In [5]:
import pandas as pd
df=pd.read_csv("group.csv")
print(df)

     name  age  salary gender   dept
0   shyam   20   20000      m    cse
1     sai   20   30000      m    ece
2  bhagya   40   40000      f  civil
3   snaha   22   50000      f  civil
4    hema   29   70000      f    cse

In [4]:
a=df.groupby(["gender"])
print(a)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000024AD3D701F0>

In [14]:
print(a.groups)

{'f': [2, 3, 4], 'm': [0, 1]}

In [8]:
print(df.groupby(["gender"]).max())

         name  age  salary dept
gender
f       snaha   40   70000  cse
m       shyam   20   30000  ece

In [18]:
x=df.groupby(["dept"]).max()
print(x)

        name  age  salary gender
dept
civil  snaha   40   50000      f
cse    shyam   29   70000      m
ece      sai   20   30000      m

In [19]:
print(df["gender"].value_counts())

f    3
m    2
Name: gender, dtype: int64